.btn-block{
    height: 100px;
    background-color: gray;
    display: flex;
    align-items: center;
}
button{
    height: 50px;
    width: 100px;
    background-color: yellow;
    margin-right: 10px;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}